@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body,
html {
  background-color: rgb(246,245,250);
  background-image: url(media/86ff934babb19a99caa88140eb40e6f1.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.hide_scroll::-webkit-scrollbar {
  width: 1px;
  color: black !important;
  background-color: black !important;
}


/* navbar */

#nav_bar{
  background: rgba( 0, 0, 0, 0.5 ) !important;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}

#nav_bar button{
  box-shadow: none;
}

#nav_bar i{
  color: white;
}

.navbar-nav .active{
  color: white;
  transform: scale(1.10);
  transition: all .5s ease;
}

.navbar-nav a{
  color: black;
  transition: all .5s ease;
}

.navbar-nav a:hover{
  color: white;
  transform: scale(1.10);
}


/* banner */

#banner div img{
  width: 130px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#banner section{
  margin: auto;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all .8s ease;
}

#banner section i{
  position: relative;
  top: 20px;
  font-size: 1.5rem;
  animation-name: anime1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  transition: all .8s ease;
}

@keyframes anime1{
  0%{
    top: -50px;
  }
  100%{
    top: 20px;
  }
}


#banner section:hover i{
  color: black;
  transform: scale(1.20);
}


/* hello */

#hello a{
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 5px;
}


/* Testimonial */

#carouselExampleCaptions{
  border-radius: 20px;
  filter: blur(3px);
  transition: all 1s ease;
}

#carouselExampleCaptions:hover{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  filter: blur(0px);
}

#carouselExampleCaptions img{
  border-radius: 50%;
  width: 80px;
  margin-bottom: 20px;
}

/* Tools */

#tools{
  margin: auto;
}

#tools img{
  height: 80px;
  margin: 10px;
  border-radius: 20px;
}

#tools section{
  margin-bottom: 15px;
  border-radius: 13px;
  transition: all .8s ease;
  background: rgba( 255, 255, 255, 0.5 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#tools section:hover{
  border-radius: 18px;
  transform: scale(1.10);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

#tools .progress{
  border-radius: 20px;
  visibility: hidden;
  margin: 0;
  height: 7px;
  transition: all .5s ease-out;
}


#tools section:hover .progress{
  visibility: visible;
}

/* service */

#service section{
  height: 350px;
  background-color: white;
  border-radius: 10px 60px 10px 10px;
  transition: all 1s ease;
  filter: blur(3px);
}

#service section i{
  font-size: 2.8rem;
}

#service section:hover{
  transform: translateY(-15px);
  background-color: black;
  color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  filter: blur(0px);
}

#service section:hover i{
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
}




